/* Add a black background color to the top navigation */
.topnav {
  background-color: #C7E7E2;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav:hover
{
  border: 2px solid blue;
}
.topnav a {
  float: left;
 
color: #4F978D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.links{
  float: right;
  width: 300px;
}
/* Change the color of links on hover */
.topnav a:hover {
  
color: #4F978D;
  text-decoration: underline;
  text-decoration-color: blue;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}